body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #F8F8F8;
	font-family: 'Garamond', serif;
}

.jumbotron-heading {
	font-family: 'Garamond', serif;
	font-size: 45px;
}

.logo {
	background-color: black;
	height: auto;
	}

.logo h1{
	color: yellow;
	font-family: 'Garamond', serif;
	}

.logo a{
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        vertical-align: middle;
}

/* Change the link color to #111 (black) on hover */
.logo a:hover {
    color: yellow;
 }

p {
	font-size: 1.25rem;	
	padding: 0px;
	font-family: 'Garamond', serif;

	
}

.color1{
	font-family: 'Garamond', serif;

}

.color2{
	background-color: gray;
	font-family: 'Garamond', serif;
}

.color2 a{
	text-decoration: none;
	color: white;
	font-family: 'Garamond', serif;
}

.color2 a:hover{
	text-decoration: none;
	color: yellow;
	font-family: 'Garamond', serif;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
        background-color: black;
        color: white;
	font-family: 'Garamond', serif;
}

footer p {
  margin-bottom: .25rem;
font-size: 15px;
	font-family: 'Garamond', serif;
}
