body {
	height: 100%;
	margin: 0;
	text-align: center;
	padding: 0;
	width: 100%;

}



h2 {
	font-size: 42px;
	font-family: 'Garamond', serif;
	text-align: left;
	margin: 35px;
	padding: 0px;
}

#title {
	font-size: 42px;
	font-family: 'Garamond', serif;
	text-align: left;
	margin: 35px;
	padding: 0px;
}

.inside{
	background-color: #F8F8F8;
}

.logo {
	background-color: black;
	height: auto;
	}

.logo h1{
	color: yellow;
	font-family: 'Garamond', serif;
	}

.logo a{
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        vertical-align: middle;
}

/* Change the link color to #111 (black) on hover */
.logo a:hover {
    color: yellow;
 }



.desc{
	margin-top: 63px;
	margin-bottom: 53px;
}

.desc h1{
	text-align: center;
	font-family: 'Garamond', serif;
	font-size: 52px;
}

.desc p{
	font-size: 22px;
}
p {
	font-size: 1rem;
	padding: 0px;
}

.staff {
	margin: 35px;
	padding: 0;
	text-align: left;
}

.staff img {
  float: left;
  margin: 0px 15px 0px 0px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
        background-color: black;
        color: white;
	font-family: 'Garamond', serif;
}

footer p {
  margin-bottom: .25rem;
	font-family: 'Garamond', serif;
}
