body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #F8F8F8;
	font-family: 'Garamond', serif;
}

.logo {
	background-color: black;
	height: auto;
	}

.logo h1{
	color: yellow;
	font-family: 'Garamond', serif;
	}

.logo a{
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        vertical-align: middle;
}

.jumbotron p{
	font-size: 20px;
}

.color {
	background-color: yellow;
	color: black;
	font-family: 'Garamond', serif;
}

p {
	font-size: 1rem;
	padding: 0px;
	font-family: 'Garamond', serif;
}



.staff {
	padding-left: 75px;
	padding-bottom: 35px;
	text-align: left;
	font-family: 'Garamond', serif;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
        background-color: black;
        color: white;
	font-family: 'Garamond', serif;
}

footer p {
  margin-bottom: .25rem;
}
