
body {
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
                background-image: url(https://raw.githubusercontent.com/cindycano/cindycano/master/web1.jpg);
        background-attachment: fixed;
        background-size: cover;

}


.logo {
	background-color: black;
	height: auto;
	}

.logo h1{
	color: yellow;
	font-family: 'Garamond', serif;
        background-color: black;
	}
.logo a{
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        vertical-align: middle;
        background-color: black;
}


/* Change the link color to #111 (black) on hover */
.logo a:hover {
    color: yellow;
        background-color: black;
 }

.division {

	background-color: black;
	height: 15px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
        background-color: black;

}

.jumbotron p:last-child {
  margin-bottom: 0;
        background-color: black;
}

.jumbotron-heading {
        font-weight: 300;
        color: black;
        font-family: 'Garamond', serif;
}

.jumbotron .container {
  max-width: 40rem;
        background-color: black;
        padding: 3rem;
}

.jumbotron .btn{
        color: white;
        background-color: black;
        border: black;
        font-family: 'Garamond', serif;
}

.jumbotron .btn:hover{
        color: black;
        background-color: yellow;
        border: black;
        font-family: 'Garamond', serif;
}


p {
        font-size: 1rem;
        padding: 0px;
	color: silver;
}

.row {
	background-color: black;
	color: white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-right: 5%;
	padding-left: 5%;
}

.sec a {
	color: white;
	text-decoration: none;
        font-family: 'Garamond', serif;
}

.sec{
	width: 30%;
	margin-bottom: 2rem;
	border: 0;
	padding: .75rem;
}

.sec a:hover {
	color: yellow;
	text-decoration: none;
        font-family: 'Garamond', serif;
}

.link a{
	text-decoration: none;
	color: white;
        font-family: 'Garamond', serif;
}

.sec .btn:hover{
        color: black;
        background-color: yellow;
        border: black;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
        background-color: black;
        color: white;
}

footer p {
  margin-bottom: .25rem;
        font-family: 'Garamond', serif;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .logo h1{
    font-size: 25px;
  }

.logo a,a:hover{
	font-size: 14px;
}

}
